# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# User additions
# =========================

.babelrc
.env

*.bat
server - oud.js
server-controller.js
server-model.js
server-routes.js

movieadd-old.js
xmark.png

*.json
*.zip
ovpn*.*
siimple*.*
webpack.config.js

/data/*
/node_modules/*